<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shield.chaosshield.dao.ExperimentTestDao">

    <update id="createTable">
    CREATE TABLE IF NOT EXISTS `experiment_test` (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        pid INTEGER default 0,
        java_pid INTEGER default 0,
        state INTEGER DEFAULT 0,
        create_time TEXT DEFAULT CURRENT_TIMESTAMP,
        update_time TEXT DEFAULT CURRENT_TIMESTAMP,
        is_deleted INTEGER DEFAULT 0 CHECK (is_deleted IN (0, 1))
    )
    </update>

    <update id="createTrigger">
        -- 创建更新时间触发器
        CREATE TRIGGER IF NOT EXISTS 'update_experiment_time'
            AFTER UPDATE ON experiment_test
        BEGIN
            UPDATE experiment_test
            SET update_time = CURRENT_TIMESTAMP
            WHERE id = OLD.id;
        END;
    </update>

    <select id="selectAll" resultType="ExperimentTest">
        SELECT * FROM experiment_test
        WHERE is_deleted = 0;
    </select>

    <select id="selectById" resultType="ExperimentTest">
        SELECT * FROM experiment_test
        WHERE id = #{id} and is_deleted = 0;
    </select>

    <delete id="deleteById">
        UPDATE experiment_test
        SET is_deleted = 1
        WHERE id = #{id};
    </delete>

    <insert id="insert" useGeneratedKeys="true" parameterType="ExperimentTest">
        INSERT INTO experiment_test
            (name, pid, java_pid, state)
        VALUES (#{name}, #{pid}, #{javaPid}, #{state});
    </insert>

    <update id="update" parameterType="ExperimentDetail">
        UPDATE experiment_test
        SET
            name = #{name},
            pid = #{pid},
            java_pid = #{javaPid},
            state = #{state}
        WHERE id = #{id};
    </update>
</mapper>
